
services:
  db:
    image: postgres:15-alpine
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    environment:
      - POSTGRES_DB=articles_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    networks:
      - app_network

  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    restart: always
    command: gunicorn config.wsgi:application --bind 0.0.0.0:8000
    volumes:
      - static_volume:/app/static
      - media_volume:/app/media
    expose:
      - 8000
    env_file:
      - ./backend/.env
    environment:
      - DATABASE_URL=postgres://postgres:postgres@db:5432/articles_db
      - ALLOWED_HOSTS=api.projetoravenna.cloud,localhost,backend
      - CORS_ALLOWED_ORIGINS=https://projetoravenna.cloud,https://www.projetoravenna.cloud
      - CSRF_TRUSTED_ORIGINS=https://api.projetoravenna.cloud
      - DEBUG=0
    depends_on:
      - db
    networks:
      - app_network

  frontend:
    build: 
      context: ./frontend
      dockerfile: Dockerfile
    restart: always
    expose:
      - 3000
    environment:
      - NEXT_PUBLIC_API_URL=https://api.projetoravenna.cloud/api/v1
      - INTERNAL_API_URL=http://backend:8000/api/v1
    depends_on:
      - backend
    networks:
      - app_network

volumes:
  postgres_data:
  static_volume:
  media_volume:

networks:
  app_network:
    driver: bridge
